# 群晖服务器配置
SYNOLOGY_HOST=192.168.80.88
SYNOLOGY_PROTOCOL=http
SYNOLOGY_PORT=5000

# 账号信息（请修改为您的真实账号）
SYNOLOGY_USERNAME=admin
SYNOLOGY_PASSWORD=your_password

# 上传默认目标文件夹
UPLOAD_FOLDER=/home

# 服务器配置
PORT=3000
